/********************
* LOCATION
*********************/

.location {
    padding: 100px 0;
    background-image: url(/img/bg-location.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.location .head {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-bg-black);
    padding: 40px;
    width: 100%;

}

.location .head .info {
    display: flex;
    align-items: center;
}

.location .head .info .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-primary);
    border-radius: 100%;
    padding: 10px;
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.location .head .info .text span {
    display: block;
    font-size: 12px;
}


.location .head .info .text span:first-child {
    color: var(--color-font-gray);
}

.location .head .info .text span:last-child {
    color: var(--color-font-white);
}

.location .map {
    width: 100%;
}

.location .map iframe {
    width: 100%;
}


@media (max-width:1170px) {

    .location {
        padding: 0;
        padding-top: 160px;
    }

    .location .container {
        width: 100%;
    }


    .location .head {
        flex-wrap: wrap;
    }

    .location .head .info {
        width: 300px;
        padding: 10px;
    }

}
